*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif; 
   
}
body{
    background-color:rgb(161, 169, 224);
        justify-content: center;
    align-items: center;
    padding-top: 2.5em;
}
.contbg{
    
    background-color:#eaf1ff;
    justify-content: center;
    align-items: center;
}
header{
    background: #333;
    color: #fff;
    padding: 9.02em;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#about{
    background:#dccccc ;
    padding: 50px;
    text-align: center;
    padding-bottom:6em;
  
}
#about ul{
  list-style-type: none;
}
#skills{
    padding: 10px 5px;;
    background: rgb(161, 169, 224);
    text-align:center;

}
#skills img{
    margin:10;
    padding:0;
}
.row1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.competence-box1{
  
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: aliceblue;
    align-items:center;
    transition: box-shadow 0.3s ease;
}
.competence-box2{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: aliceblue;
    align-items:center;
    transition: box-shadow 0.3s ease;
}
.competence-box3{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: aliceblue;
    align-items:center;
    transition: box-shadow 0.3s ease;
}
.competence-box1:hover{
    box-shadow:  0px 0px 10px 5px rgba(255, 89, 0, 0.552);
}
.competence-box2:hover{
    box-shadow:  0px 0px 10px 5px rgba(39, 64, 228, 0.71);
}
.competence-box3:hover{
    box-shadow:  0px 0px 10px 5px rgba(236, 10, 10, 0.552);
}
#projects img{
    width:500px;
    height: 500px;
}
#projects {
    text-align:center;
}
/* .boute1{
    margin-right:-100px;
}
.boute1{
    margin-left:-100px;

} */
