*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif; 
   
}
.cont-1{
    display: flex;
    height: 99.9vh;
    width:183.2vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:linear-gradient(180deg, #ffffff, #566dd4, #022dcc);
}

.contact{
    width:50vh;
    height:50vh;
    background: #8549ec;
    border-radius: 10px;
    box-shadow:  0px 10px 0px 0px rgb(98, 0, 111)
}