*{
    margin:0;
    padding:0;
    font-family: "montserrat", sans-serif; 
}
header{
    background: #826bd4;
    padding: 1em 0;
    margin-bottom: -2em;
    color: honeydew;
}
html, body {
  min-height: 100%;
  margin: 0;
  background: linear-gradient(180deg,#624ea9,#361f8c,#1c017e,#150354,#0e0040);
  color:honeydew;
}

#projects .Calc{
  width: 38em;
  height: 38em;
}
#projects {
    text-align:center;
}
#carouselExample{
    border:2px;
    margin:auto;
}
#projects img.gif {
  width: 38em;
  height: 30em;
}
#projects h3{
    margin-top:3em;
}
#projects h2{
    margin-top:3em;
}
.intro{
    font-size: larger;

    margin-top:1em;
}


